/*Statistic page*/

#statisticTable {
    border-spacing: 0px;
    width: 100%;
    min-height: 100%;
    padding: 0 10px 0 10px;
/*    height: inherit;*/
}
#statisticTable .sCell {
    border: 1px solid #D3D3D3;
    padding: 3% 0;
    width: 50%;
    text-align: center;
}
#financeTable {
    border-spacing: 0px;
    width: 100%;
    padding: 0 10px;
}
#financeTable .financeCell {
    border: 1px solid #D3D3D3;
    border-top: none;
    border-right: none;
    width: 50%;
    padding: 20px 0;
    text-align: center;
}
#financeTable .financeCellLeft {
    border: 1px solid #D3D3D3;
    border-top: none;
    width: 50%;
    border-left: none;
    padding: 20px 0;
}
/*Data navigation*/

#dateToggle {
    border-spacing: 0px;
    width: 94%;
    height: 100%;
    margin: 20px 2% 20px 2%;
    table-layout: fixed;
}
#dateToggle .dCell {
    width: 70%;
    text-align: center;
    white-space: nowrap;
}
#dateToggle .prevDay {
    text-align: left;
}
#dateToggle .prevDay .pressed {
    color: purple;
}
#dateToggle .nextDay {
    text-align: right;
}
#dateToggle .nextDay .pressed {
    color: purple;
}
/*Visit page*/

#clientInfo .clientName {
    padding: 0 10% 0 10%;
    font-size: 16pt;
    font-style: normal;
    height: 50px;
}
#clientInfo .phone {
    text-decoration: none;
    font-size: 15pt;
    padding: 3%;
}
#clientInfo .disBalance {
    width: 100%;
    padding: 0% 10% 5% 10%;
    font-size: 16pt;
}
.comment {
    padding: 5%;
    width: 100%;
    border: 1px solid #B9B9B9;
    border-radius: 10px;
    font-size: 12pt;
}
/*Visits page*/

#status {
    text-align: center;
    color: white;
    font-size: 15px;
    border-radius: 2px;
    height: 20px;
    margin-bottom: 5px;
}
.not-come {
    width: 140px;
    background-color: #fda79a;
    text-align: center;
    color: white;
    font-size: 15px;
    border-radius: 2px;
    padding: 2px;
    margin-bottom: 5px;
}
.new {
    width: 110px;
    background-color: #ffc977;
    text-align: center;
    color: white;
    font-size: 15px;
    border-radius: 2px;
    padding: 2px;
    margin-bottom: 5px;
}
.confirm {
    width: 120px;
    background-color: #54c8d8;
    text-align: center;
    color: white;
    font-size: 15px;
    border-radius: 2px;
    padding: 2px;
    margin-bottom: 5px;
}
.come {
    width: 120px;
    background-color: #9cd266;
    text-align: center;
    color: white;
    font-size: 15px;
    border-radius: 2px;
    padding: 2px;
    margin-bottom: 5px;
}
a.pressed.statistic {
    background: url("'../../../images/statistic-pressed.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 25px;
}
a.statistic {
    background: url("'../../../images/statistic.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 25px;
}
a.pressed.visits {
    background: url("'../../../images/visits-pressed.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 25px;
}
a.visits {
    background: url("'../../../images/visits.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 25px;
}
a.pressed.settings {
    background: url("'../../../images/settings-pressed.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 25px;
}
a.settings {
    background: url("'../../../images/settings.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 25px;
}
@font-face {
    font-family: 'PT Sans';
    src: url("'../../../css/fonts/pt-rouble-sans.ttf");
}
.price {
    font-family: 'PT Sans';
}
.loading-image {
    height: 100%;
    width: 100%;
    position: fixed;
    opacity: 0.5;
    background: white;
    z-index: 90;
    top: 0%;
}
.square {
    width: 64px;
    height: 64px;
    top: 50%;
    left: 50%;
    margin-left: -32px;
    margin-top: -32px;
    position: fixed;
    z-index: 100;
}
.spin {
    border-radius: 50%;
    border: dashed 5px #9518B8;
    -webkit-animation-name: spin;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}
@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}
.scrollBar {
    /*    background: gray;*/
    opacity: 0.5;
}
.LoadSlideLeft > div {
    height: 100%;
}
.LoadSlideRight > div {
    height: 100%;
}

.slide >div {
    height: 100%;
}