/*Statistic page*/

#statisticTable {
    border-collapse: separate;
    border-spacing: 0px;
    width: 100%;
    height: 100%;
    padding: 0 2% 0 2%;
}
#statisticTable .sCell {
    border: 1px solid #D3D3D3;
    padding: 3% 0;
    width: 50%;
    text-align: center;
}
#financeTable {
    border-collapse: separate;
    border-spacing: 0px;
    width: 96%;
    height: 100%;
    border: 1px solid #D3D3D3;
    margin: 0 2% 2% 2%;
}
#financeTable .financeCell {
    text-align: center;
}
#financeTable .financeCellLeft {
    text-align: left;
}
/*Data navigation*/

#dateToggle {
    border-spacing: 0px;
    width: 94%;
    height: 100%;
    margin: 20px 2% 20px 2%;
    table-layout: fixed;
}
#dateToggle .dCell {
    width: 70%;
    text-align: center;
    white-space: nowrap;
}
#dateToggle .prevDay {
    text-align: left;
}
#dateToggle .prevDay .pressed {
    color: purple;
}
#dateToggle .nextDay {
    text-align: right;
}
#dateToggle .nextDay .pressed {
    color: purple;
}
/*Visit page*/

#clientInfo .clientName {
    padding: 0 10% 0 10%;
    font-size: 15pt;
    font-style: normal;
}
#clientInfo .phone {
    text-decoration: none;
    font-size: 15pt;
    padding: 3%;
}
#clientInfo .disBalance {
    width: 100%;
    padding: 0% 10% 5% 10%;
    font-size: 16pt;
}
.comment {
    padding: 5%;
    width: 100%;
    border: 1px solid #969696;
    border-radius: 10px;
    font-size: 12pt;
}
/*Visits page*/

#status {
    text-align: center;
    color: white;
    font-size: 15px;
    border-radius: 2px;
    height: 20px;
    margin-bottom: 5px;
}
.not-come {
    width: 140px;
    background-color: #FF9F9F;
    text-align: center;
    color: white;
    font-size: 15px;
    border-radius: 2px;
    height: 20px;
    margin-bottom: 5px;
}
.new {
    width: 110px;
    background-color: #FFCC66;
    text-align: center;
    color: white;
    font-size: 15px;
    border-radius: 2px;
    height: 20px;
    margin-bottom: 5px;
}
.confirm {
    width: 120px;
    background-color: #33BBFF;
    text-align: center;
    color: white;
    font-size: 15px;
    border-radius: 2px;
    height: 20px;
    margin-bottom: 5px;
}
.come {
    width: 120px;
    background-color: #77CC33;
    text-align: center;
    color: white;
    font-size: 15px;
    border-radius: 2px;
    height: 20px;
    margin-bottom: 5px;
}