/*Android Scale style*/

.view-animate {} .view-animate.ng-enter {
    /*    .view-animate.ng-leave {*/
    -webkit-animation: scaleUp 0.1s both ease-in;
    -moz-animation: scaleUp 0.1s both ease-in;
    animation: scaleUp 0.1s both ease-in;
}
@-moz-keyframes scaleUp {
    from {
        opacity: 0.3;
        -moz-transform: scale(0.8);
    }
}
@-webkit-keyframes scaleUp {
    from {
        opacity: 0.3;
        -webkit-transform: scale(0.8);
    }
}
/*Android Pop In/Out Style*/
.pop {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.pop.ng-enter,
.pop.ng-leave {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
.pop.ng-enter {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
}
.pop.ng-enter-active,
.pop.ng-leave,
.pop.ng-leave-active {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}
.pop.ng-leave-active {}@keyframes scaleUp {
    from {
        opacity: 0.3;
        -webkit-transform: scale(0.8);
    }
}
/*IOS Flip style*/

.flip {
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -webkit-transition: all 1s ease-in-out;
}
.flip.ng-enter {
    -webkit-transform: rotateY(-180deg);
}
.flip.ng-enter-active {
    -webkit-transform: rotateY(0deg);
}
.flip.ng-leave {
    -webkit-transform: rotateY(0deg);
}
.flip.ng-leave-active {
    -webkit-transform: rotateY(180deg);
}
/*IOS Fade style*/

.fade {
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    opacity: 1;
}
.fade.ng-enter,
.fade.ng-leave {
    position: absolute;
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
}
.fade.ng-enter {
    position: absolute;
    opacity: 0;
}
.fade.ng-enter-active {
    position: absolute;
    opacity: 1;
}
.fade.ng-leave {
    position: absolute;
    opacity: 1;
}
.fade.ng-leave-active {
    position: absolute;
    opacity: 0;
}