<header-content title="'Мастер'" show-back-button="true"></header-content>
<footer-content show="true"></footer-content>
<date-changer step='"day"' date='date' steps='["day"]' has-future-data='hasFutureData()' has-prev-data='hasPrevData()' index='pageIndex'></date-changer>
<ul id='carousel' rn-carousel rn-carousel-index="pageIndex" style="height: 100%">
    <li ng-repeat="page in pages">
        <div id="master" style="background-color: #6666FF">
            <h2 style="margin: 2px;">{{page.master.lastName}} {{page.master.firstName}}</h2>
        </div>

        <ul class="list inset">
            <li ng-repeat="visit in page.visList">
                {{getVisitByMasterInfo(visit)}}
                <a href="#/visit/{{visit.id}}">
                    <div>
                        <div>{{masterVisitInfo.status}}</div>
                        <div style="font-weight:bold;">
                            <span style="float:left;  width:65%;white-space:nowrap;text-overflow:ellipsis;overflow: hidden;">
                                {{masterVisitInfo.client}}
                            </span>
                            <span style=" text-align:right; width:35%;white-space:nowrap;text-overflow:ellipsis">
                                {{masterVisitInfo.time}}
                            </span>
                        </div>
                        <div>
                            <span style="float:left;  width:65%;white-space:nowrap;text-overflow:ellipsis;overflow: hidden;">
                                {{masterVisitInfo.service}}
                            </span>
                            <span style=" text-align:right; width:35%;white-space:nowrap;text-overflow:ellipsis">
                                {{masterVisitInfo.cost}}
                            </span>
                        </div>
                    </div>
                </a>
            </li>
        </ul>

    </li>
</ul>