<header-content title="'Визиты'" show-back-button="false"></header-content>
<orient orientation="'portrait'"></orient>
<div class="upage-content">
    <div class="button-grouped flex widget uib_w_24 d-margins" data-uib="app_framework/button_group" data-ver="1">
        <a id="timeButton" class="button widget uib_w_25 d-margins" data-uib="app_framework/button" data-ver="1">По времени</a>
        <a ng-click="onMasters()" class="button widget uib_w_26 d-margins" data-uib="app_framework/button" data-ver="1">По мастерам</a>
    </div>

    <date-changer step='step' date='date' steps='["day"]' has-future-data='hasFutureData()' has-prev-data='hasPrevData()' index='pageIndex'></date-changer>
    <ul id='carousel' rn-carousel rn-carousel-index="pageIndex" style="height: 100%">
        <li ng-repeat="page in pages">
            <ul class="list inset">
                <li ng-repeat="visit in page" id="visitsPerTime">
                    {{getVisitInfo(visit)}}
                    <a href="#/visit/{{visitInfo.id}}">
                        <div>
                            <div>{{visitInfo.status}}</div>
                            <div style="font-weight:bold;">
                                <span style="float:left;  width:65%;white-space:nowrap;text-overflow:ellipsis;overflow: hidden;">
                                    {{visitInfo.client}}
                                </span>
                                <span style=" text-align:right; width:35%;white-space:nowrap;text-overflow:ellipsis">
                                    {{visitInfo.time}}
                                </span>
                            </div>
                            <div>
                                <span style="float:left;width:65%;white-space:nowrap;text-overflow:ellipsis;overflow: hidden;">
                                    {{visitInfo.masters}}:{{visitInfo.services}}
                                </span>
                                <span style=" text-align:right; width:35%;white-space:nowrap;text-overflow:ellipsis">
                                    {{visitInfo.cost}}
                                </span>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
            <ul class="list inset" ng-hide="hasVisits(page)">
                <li style='text-align: center; font-size: 14pt;'>Нет визитов</li>
            </ul>
        </li>
    </ul>

</div>
<footer-content show="true"></footer-content>