<header-content title="'О программе'" show-back-button="true" back-button-link="'#/settings'" show="true"></header-content>
<div style="margin:5%;width:90%;font-size:16pt">
    <p>Настоящее приложение предназначено для доступа к системе онлайн-управления салоном красоты "Арника" <a href="http://arnica.pro">www.arnica.pro</a>.
    </p>

    <p>Мы будем рады ответить на любые вопросы, а также принять Ваши предложения по улучшению приложения по телефону
        <a href="tel:8-800-333-06-53">8-800-333-06-53</a> (звонок по РФ бесплатный) или по почте <a href="mailto:support@arnica.pro">support@arnica.pro</a>
    </p>
</div>
<footer-content show="false"></footer-content>