<div class="upage-content" id="mainsub" style="position:absolute;height:100%;width:100%;">
    <table style="height:100%;width:100%;valign:middle;">
        <tr>
            <td align="center">
                <img src="images/logo.png" style="padding:10%; max-height: 80%; max-width: 80%;">
                <input id="login" class="wide-control" placeholder="Ваш логин" type="text" style="width:80%">
                <password correct='correct'></password>
<!--
                <img id="eye" src="images/password.png" width="38" height="38" align="right" ng-click="changePasswordType()">
                <input id="password" class="wide-control" placeholder="Ваш пароль" type="password" style="width:80%;">
-->
<!--                background-image:url(images/password.png);-->
                <a class="loginButton widget uib_w_4 d-margins" style="width:80%" data-uib="app_framework/button" data-ver="1" ng-click="enter()">Войти в программу</a>
            </td>
        </tr>
    </table>
</div>
<header-content show="false"></header-content>
<orient orientation="'portrait'"></orient>
<footer-content show="false"></footer-content>
