<div class="upage-content" id="mainsub" style="position:absolute;height:100%;width:100%;">
    <div align="center" style="height:100%;width:100%;">
        <load-bar param-name="loading" ></load-bar>
        <img src="images/logo.png" style="padding:10%; max-height: 80%; max-width: 80%;margin-top:10%;">
        <div style="margin-top:5%">
            <error-show correct='correct' error='errorText'></error-show>
            <input id="login" class="wide-control" placeholder="Ваш логин" type="text" style="width:80%" value="">
            <password correct='correct'></password>
            <a class="loginButton widget uib_w_4 d-margins" style="width:80%" data-uib="app_framework/button" data-ver="1" ar-click="enter()">Войти</a>
        </div>
    </div>
</div>
<header-content show="false"></header-content>
<orient orientation="'portrait'"></orient>
<footer-content show="false"></footer-content>
