<header-content title="'Расходы'" back-button-link="'#/index'" show="true"></header-content>
<orient orientation="'portrait'"></orient>
<footer-content show="true"></footer-content>
<!--<div class="upage-content" id="mainsub">-->
    <date-changer step="'day'" date='date' steps='["day"]' has-future-data='hasFutureData()' has-prev-data='hasPrevData()' index='pageIndex'></date-changer>
    <ul style="height: 100%">

        <li ng-repeat="page in pages">
            <ul class="list inset" ng-repeat="item in page.expenditureList">
                <li style="font-size: 11pt;">
                    <span style="float:left;  width:85%;white-space:nowrap;text-overflow:ellipsis;overflow: hidden;">{{item.description}}</span>
                    <span style='text-align: right;'>{{item.cost | money:0}} <span class="price">ю</span></span>
                </li>
            </ul>
            <ul class="list inset" ng-hide="hasExpenditures(page)">
                <li style='text-align: center; font-size: 14pt'>Нет расходов</li>
            </ul>
        </li>

    </ul>
<!--</div>-->
