<header-content title="'Движение средств'" back-button-link="backLink" show="true"></header-content>
<orient orientation="'portrait'"></orient>
<footer-content show="true"></footer-content>
<div class="upage-content" id="mainsub">
    <slider content-id="expenditures" get-data='getData' key-expression='getKey' update-date='updateDate' need-updating='needUpdating'  has-future-data="hasFutureData"  has-past-data="hasPastData" height-elements="#navbar, #header"></slider>
<!--   <load-bar param-name="loading" ></load-bar>-->
    <script type="text/ng-template" id="expenditures">
        <div id="expendituresContent">
            <date-changer date='page.date' step='"day"' has-future-data='$parent.hasFutureData(page.date)' has-prev-data='$parent.hasPrevData(page.date)'></date-changer>
            <ul class="list inset" ng-repeat="exp in page.list">
                <li style="font-size: 11pt;border-top: 1px solid #ccc;">
                    <span style='float: right;white-space:nowrap'>{{exp.amount | money:0}} 
                    <span class="price" currency>ю</span></span>
                    <span style="white-space:nowrap;text-overflow:ellipsis;overflow: hidden;">{{exp.description}}</span>
                </li>
            </ul>
            <ul class="list inset" ng-hide="hasExpenditures(page.list)">
                <li style='text-align: center; font-size: 14pt;border-top: 1px solid #ccc;'>Расходов нет</li>
            </ul>

        </div>
    </script>
</div>