<header-content title="'Настройки'" show-back-button="false" show="true"></header-content>
<footer-content show="true"></footer-content>

<div style="margin: 2% 5%;padding: 5px;" class="ng-scope">
    
    <p style="font-size: 16pt;">{{user.salon}}</p>
    <h1 style="margin: 15px 0;font-weight: lighter;">{{user.firstname}} {{user.lastname}}</h1>
    <p></p>
    <p>{{user.email}}</p>
</div>
<ul class="inset list" style="border-radius: 0;" data-appbuilder-object="list" data-position="static">
    <li>
        <a href="#about">О программе</a>
    </li>
</ul>
<div style="height:100%;width:100%;">
    <!--    align="center"-->
    <a class="exitButton" ng-click="exit()">Выйти</a>
</div>