<div style="position: relative">
    <a class='slider-back-button' direction='backward' steps='1' style="z-index:999;font-size:20px; font-weight:bold; position: absolute; width: 10%; top: 25px; text-align: center" data-ver="1">
        <img src="images/prev.png" style="max-height:20px" ng-show="past"></img>
        <img src="images/prevFalse.png" style="max-height:20px" ng-hide="past"></img>
    </a>
    <!-- абсолютно спозиционированная стрелка влево-->
    <a class='slider-next-button' direction='forward' steps='1' style="z-index:999;font-size:20px; font-weight:bold; position: absolute; width: 10%; top: 25px; right: 0px; float: right; text-align: center" data-ver="1">
        <img src="images/next.png" style="max-height:20px" ng-show="future"></img>
        <img src="images/nextFalse.png" style="max-height:20px" ng-hide="future"></img>
    </a>
    <!-- абсолютно спозиционированная стрелка вправо-->
    <div class='my-slider' style="z-index:2">
    </div>

    <div id="slContent">
    </div>
</div>