<div style="position: relative">
    <a id='slider-back-button' direction='backward' steps='1' style="z-index:999; background:#ffffff; font-size:20px; font-weight:bold; position: absolute; width: 10%; top: 25px; text-align: center" data-ver="1">&lt;</a>
    <!-- абсолютно спозиционированная стрелка влево-->
    <a id='slider-next-button' direction='forward' steps='1' style="z-index:999; background:#ffffff; font-size:20px; font-weight:bold; position: absolute; width: 10%; top: 25px; right: 0px; float: right; text-align: center" data-ver="1">&gt;</a>
    <!-- абсолютно спозиционированная стрелка вправо-->
    <div class='my-slider' style="z-index:1">
    </div>
    
    <div id="slContent">
    </div>
</div>