<header-content title="'Салон красоты'" show-back-button="false" show="true"></header-content>
<orient orientation="'portrait'"></orient>
<footer-content show="true" active-page="StatisticsFooter" inactive-pages="['VisitsFooter', 'SettingsFooter']"></footer-content>
<div class="upage-content" id="mainsub">
    <div id="statisticPanel">

        <date-changer step='step' date='date' steps='["day", "week", "month"]' titles='["За день", "За неделю", "За месяц"]' has-future-data='hasFutureData()' has-prev-data='hasPrevData()' index='pageIndex'></date-changer>


        <ul id='carousel' rn-carousel rn-carousel-index="pageIndex">
            
            <li ng-repeat="page in pages">
                <table id="statisticTable">
                    <tr>
                        <td class="sCell" ng-click="toChart('proceeds')">
                            <img src="images/proceeds.PNG" style="margin:5px;">
                            <h1>{{page.proceeds}} р.</h1>
                            <p>Выручка</p>
                        </td>
                        <td class="sCell" ng-click="toChart('profit')">
                            <img src="images/profit.PNG" style="margin:5px">
                            <h1>{{page.profit}} р.</h1>
                            <p>Прибыль</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="sCell" ng-click="toChart('clients')">
                            <img src="images/clients.PNG" style="margin:5px">
                            <h1>{{page.clients}}</h1>
                            <p>Клиента</p>
                        </td>
                        <td class="sCell" ng-click="toChart('workload')">
                            <img src="images/workload.PNG" style="margin:5px">
                            <h1>{{page.workload}}%</h1>
                            <p>Загруженность</p>
                        </td>
                    </tr>
                </table>

                <table id="financeTable" ng-show="hasFinance(page)">
                    <!--            <tr ng-controller="FinanceStatisticsController">-->
                    <tr>
                        <td class="financeCell">
                            <h1>{{page.finance.tillMoney}} р.</h1>
                            <p style="font-size:14px; ">В кассе</p>
                        </td>
                        <td class="financeCell">
                            <p>Утром: {{page.finance.morningMoney}}р.</p>
                            <p>Приход: {{page.finance.credit}} р.</p>
                            <a ng-click="toExpenditures() ">
                                <p>Расход: {{page.finance.debit}} р.</p>
                            </a>
                        </td>

                    </tr>
                </table>
            </li>
        </ul>
    </div>
</div>

<!-- /upage-content -->
<!-- //<div class="footer "></div>-->
<!--
   
-->



