<header-content title="'Салон красоты'" show-back-button="false" show="false"></header-content>
<orient orientation="'portrait'"></orient>
<footer-content show="true" active-page="StatisticsFooter" inactive-pages="['VisitsFooter', 'SettingsFooter']"></footer-content>
<div class="upage-content dataTypeChangerPanel" id="mainsub">
    <div id="statisticPanel">
        <div id="periodChanger" class="dataTypeChanger grid grid-pad urow uib_row_2 row-height-1" data-uib="layout/row" data-ver="0">
                    <div id="periodButtons" class="periodButtons button-grouped widget uib_w_4 flex" style="font-weight: lighter" data-ver="1">
                        <a class="active day button widget uib_w_6 d-margins" 
                           data-uib="app_framework/button" 
                           data-ver="1"
                           ar-click="goForDay()">
                            За день
                        </a>
                        <a class="button week  widget uib_w_6 d-margins" 
                           data-uib="app_framework/button" 
                           data-ver="1"
                           ar-click="goForWeek()">
                            За неделю
                        </a>
                        <a class="button month widget uib_w_6 d-margins" 
                           data-uib="app_framework/button" 
                           data-ver="1"
                           ar-click="goForMonth()">
                            За месяц
                        </a>
                    </div>
        </div>
        <error-show correct='correct' error='errorText'></error-show>
        <slider content-id="statistic-content" get-data='getData' key-expression='getKey' update-date='updateDate' reinit='reinitStamp()' need-updating='needUpdating' has-future-data="hasFutureData"  has-past-data="hasPastData" height-elements="#navbar, .periodButtons"></slider>
        <script type="text/ng-template" id="statistic-content">
            <div id="statSlide">
                <date-changer date='page.date' step='$parent.step' has-future-data='hasFutureData(page)' has-prev-data='hasPastData(page)'></date-changer>
                <table id="statisticTable">
                    <tr>
                        <td class="sCell" ar-click="$parent.toChart('proceeds')" style="border-right: none;border-bottom: none;" analytics-on="click" analytics-event="ToProceedsChart" analytics-category="Statistics" >
                            <img src="images/proceeds.PNG" style="margin:5px;">
                            <p style="font-size:23pt; font-weight: bold">{{page.proceeds| money:0}} <span class="price">ю</span></p>
                            <p style="font-weight: lighter">Выручка</p>
                        </td>
                        <td class="sCell" ar-click="$parent.toChart('profit')" style="border-bottom: none;" analytics-on="click" analytics-event="ToProfitChart" analytics-category="Statistics">
                            <img src="images/profit.PNG" style="margin:5px">
                            <p style="font-size:23pt; font-weight: bold">{{page.profit| money:0}} <span class="price">ю</span></p>
                            <p style="font-weight: lighter">Прибыль</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="sCell" ar-click="$parent.toChart('clients')" style="border-right: none;" analytics-on="click" analytics-event="ToClientsChart" analytics-category="Statistics">
                            <img src="images/clients.PNG" style="margin:5px">
                            <p style="font-size:23pt; font-weight: bold">{{page.clients}}</p>
                            <p style="font-weight: lighter">Оформлено визитов</p>
                        </td>
                        <td class="sCell" ar-click="$parent.toChart('workload')" analytics-on="click" analytics-event="ToWorkloadChart" analytics-category="Statistics">
                            <img src="images/workload.PNG" style="margin:5px">
                            <p style="font-size:23pt; font-weight: bold">{{page.workload| money:0}}%</p>
                            <p style="font-weight: lighter">Загруженность</p>
                        </td>
                    </tr>
                    <tr ar-click="toExpenditures()" id="financeTable" ng-show='hasFinance(page)'>
                        <td class="financeCell">
                            
                            <div style="text-align:left;display:inline-block;">
                            <h1>{{page.financialStat.tillMoney| money:0}} <span class="price">ю</span></h1>
                            <span style="font-size:14px; font-weight: lighter">В кассе<br/>&laquo;{{page.financialStat.name}}&raquo;</span>
                            </div>
                        </td>
                        <td class="financeCellLeft" align="center" analytics-on="click" analytics-event="ToExpenditure" analytics-category="Statistics">
                            <table align="center">
                                <tr>
                                    <td style="text-align:left">Утром:</td>
                                    <td style="font-weight: bold;text-align:right">{{page.financialStat.morningMoney| money:0}} <span class="price">ю</span></td>
                                </tr>
                                <tr>
                                    <td style="text-align:left">Приход:</td>
                                    <td style="font-weight: bold;text-align:right">{{page.financialStat.credit| money:0}} <span class="price">ю</span></td>
                                </tr>

                                <tr>
                                    <td style="text-align:left">Расход:</td>
                                    <td style="font-weight: bold;text-align:right">{{page.financialStat.debit| money:0}} <span class="price">ю</span></td>
                                </tr>

                            </table>

                        </td>

                    </tr>
                </table>
            </div>
            </script>
        <a href="/chart/proceeds" class="button"></a>
    </div>
</div>