<table style="width:100%; margin:10px; border-top: 1px solid gray">
    <tr>
        <td></td>
        <td style="text-align:center;">шт.</td>
        <td style="text-align:center;">Σ, руб.</td>
    </tr>
    <tr>
        <td>Новая запись:</td>
        <td style="text-align:center; font-weight:bold" id="newRocordCount">{{statuses.newRecord.count}}</td>
        <td style="text-align:center; font-weight:bold;" id="newRecordAmount">{{statuses.newRecord.amount}}</td>
    </tr>
    <tr>
        <td>Клиент не пришел:</td>
        <td style="text-align:center; font-weight:bold;" id="notComeCount">{{statuses.notCome.count}}</td>
        <td style="text-align:center; font-weight:bold;" id="notComeAmount">{{statuses.notCome.amount}}</td>
    </tr>
    <tr>
        <td>Клиент пришел:</td>
        <td style="text-align:center; font-weight:bold;" id="comeCount">{{statuses.come.count}}</td>
        <td style="text-align:center; font-weight:bold;" id="comeAmount">{{statuses.come.amount}}</td>
    </tr>
    <tr>
        <td>Подтверждена:</td>
        <td style="text-align:center; font-weight:bold;" id="confirmedCount">{{statuses.confirmed.count}}</td>
        <td style="text-align:center; font-weight:bold;" id="confirmedAmount">{{statuses.confirmed.amount}}</td>
    </tr>
    <tr>
        <td>Зарплата сотрудников:</td>
        <td></td>
        <td style="text-align:center; font-weight:bold;" id="salary"></td>
    </tr>
</table>