<header-content title="'Визиты'" back-button-link="backLink" show="true"></header-content>
<footer-content show="true"></footer-content>


<div class="upage-content" id="mainsub">
    <div>
        
        <load-bar param-name="loading"></load-bar>
    <slider content-id="visit" get-data='getData' key-expression='getKey' min='min' max='max'></slider>
        <load-bar param-name="loading"></load-bar>
<!--
   <div style="width:90%;text-align:left;font-size:15pt;margin: 2% 10%;">
    <span style="text-align:right;width:30%;font-size:15pt;white-space:pre;color:#969696">Сумма услуг:</span>
    <span style="text-align:right;font-size:15pt; font-weight:bold">{{page.sum| money:0}} <span class="price">ю</span></span>
</div>
<div style="width:90%;text-align:left;font-size:15pt;margin: 0 10%;">
    <span style="text-align:right;width:30%;font-size:15pt;white-space:pre;color:#969696">Оплачено:    </span>
    <span style="text-align:right;font-size:15pt; font-weight:bold">{{page.paid| money:0}} <span class="price">ю</span></span>
</div>
-->
    <script type="text/ng-template" id="visit">
       <div id="visitContent">
    <div id="swipingPanel" style="height:30px">
        <table id="dateToggle" style="height: 25px">
            <tr>
                <td class="dCell" style="width: 80%">
                    <span style="font-weight:bold;font-size:11pt" id="Date">Визит №{{page.id}}</span>
                </td>
            </tr>
        </table>
    </div>

    <div style="border: 1px #E1E1E1; border-style: solid none; margin:5% 0;padding:2% 0 4%;">
        <table style="width:90%;font-size:15pt;margin: 2% 10%;">
            <tr>
                <td style="font-size:15pt;white-space:pre;color:#969696;text-align: left;width: 30%; ">Сумма услуг:</td>
                <td style="text-align:left;font-size:15pt; font-weight:bold ">
                    <div style="text-align:right;display: inline-block;">
                        {{page.sum| money:0}} <span class="price ">ю</span>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="font-size:15pt;white-space:pre;color:#969696;text-align: left;width: 30%; ">Оплачено:</td>
                <td style="text-align:left;font-size:15pt; font-weight:bold ">
                    <div style="text-align:right;display: inline-block;">
                        {{page.paid| money:0}} <span class="price ">ю</span>
                    </div>
                </td>
            </tr>
        </table>
    </div>

    <div id="clientInfo">
        <div class="clientName">{{page.client.lastName + " " + page.client.firstName + " " + page.client.middleName}}</div>
        <div style="width:80%;margin:5px 10%;">
            <visit-status status='page.status'></visit-status>
        </div>
        <div class="phone">
            <img src="images/phone.png" style="position: relative;">
            <a style="text-decoration: none;color: black;" href="tel:{{page.client.phone}}">{{page.client.phone}}</a>
        </div>
    </div>


    <div style="width:90%;text-align:left;font-size:12pt;margin: 0 10%;">
        <span style="text-align:right;width:30%;white-space:pre;color:#969696">Скидка:     </span>
        <span style="text-align:left;font-weight:bold">{{page.client.discount + "%"}}</span>
    </div>
    <div style="width:90%;text-align:left;font-size:12pt;margin: 3% 10%;">
        <span style="text-align:right;width:30%;white-space:pre;color:#969696">Баланс:     </span>
        <span style="text-align:left;font-weight:bold;color:{{page.balColor}};">{{page.client.balance| money:0}} <span class="price">ю</span></span>
    </div>
    <div style="width:90%;text-align:left;font-size:12pt;margin: 3% 10%;">
        <span style="text-align:right;width:30%;white-space:pre;color:#969696">Оформил: </span>
        <span style="text-align:left;font-weight:bold">{{page.author.lastName}} {{page.author.firstName}}</span>
    </div>

    <div id="services">
        <ul class="list inset" style="border-bottom: none;">
            <li class="divider">
                <span style="font-size:15pt;color:gray;margin: 0% 10%;">Услуги</span>
            </li>
            <li ng-repeat="item in page.servList">
                <div style="width: 10%;height: 55%;position: absolute;background: url('images/time.png');background-position: center left;background-repeat: no-repeat;background-size: 13px;" ng-show="item.hasTime">
                </div>
                <div style="width:90%;margin-left:10%;">
                    <div>
                    <span style="display: inline-block;max-width:65%;white-space:nowrap;text-overflow:ellipsis;overflow: hidden;">{{item.description}}</span>
                    <span style="display: inline-block;float: right;font-weight: bold;text-align:right;white-space:nowrap;text-overflow:ellipsis;overflow: hidden;">{{item.cost| money:0}}<span class="price">ю</span>
                    </div>
                    {{item.time}}

                    <div style="color:#969696">{{item.master}}
                    </div>
                </div>
            </li>
            <li class="divider">
                <span style="font-size:15pt;color:gray;margin: 0% 10%;">Комментарий</span>
            </li>
            <li style="position:relative;border-bottom: none;border-left: none;border-right: none;">
                <div style="padding:10px 0;margin: 0 3%;width: 94%;">
                    <img style="position:absolute; top:0;left: 15%;" src="images/curve.png"></img>
                    <div class="comment">{{page.comment}}</div>
                </div>
            </li>
        </ul>
    </div>
    </div>
    </script>

    </div>
</div>
